/* Special from NLD designs */

/* Fonts */
.nld-font-jost {
  font-family: "Jost", sans-serif;
}
.nld-font-noto {
  font-family: "Noto Sans", sans-serif;
}

/* Typography */
.nld-font-display {
  font-size: 80px;
  line-height: 96px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-font-h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: "regular";
  font-style: "regular";
}

.nld-text-sm {
  font-size: 16px;
  line-height: 18px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-text-md {
  font-size: 18px;
  line-height: 28px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-text-lg {
  font-size: 20px;
  line-height: 32px;
  font-weight: "regular";
  font-style: "regular";
}

.nld-tag-sm, .nld-label-sm {
  font-size: 14px;
  line-height: 18px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-tag-md, .nld-label-md {
  font-size: 18px;
  line-height: 24px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-label-lg, .nld-rating-lg {
  font-size: 22px;
  line-height: 28px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-button-md {
  font-size: 18px;
  line-height: 18px;
  font-weight: "regular";
  font-style: "regular";
}
.nld-button-lg {
  font-size: 24px;
  line-height: 24px;
  font-weight: "regular";
  font-style: "regular";
}

/* White */
.nld-bg-white-10 {
  background-color: rgba(204, 223, 227, 0.15)
}

/* Blue */
.nld-bg-blue-800-10 {
  background-color: rgba(12, 20, 39, 0.8)
}
.nld-bg-blue-800 {
  background-color : #000E1D;
}
.nld-bg-footer {
  background-color : #141C28;
}

/* Teal */
.nld-text-teal-50 {
  color : #CCDFE3;
}
.nld-bg-teal-50 {
  background-color : #CCDFE3;
}
.nld-border-teal-100 {
  border-color : #A0C6CD;
}
.nld-text-teal-100 {
  color : #A0C6CD;
}
.nld-bg-teal-100 {
  background-color : #A0C6CD;
}
.nld-text-teal-500 {
  color : #29646F;
}
.nld-bg-teal-500 {
  background-color : #29646F;
}
.nld-text-teal-600 {
  color : #1B4F58;
}
.nld-bg-teal-600 {
  background-color : #1B4F58;
}

/* Green */
.nld-text-green-50 {
  color : #E6E9DC;
}
.nld-bg-green-50 {
  background-color : #E6E9DC;
}
.nld-text-green-500 {
  color : #99B16D;
}
.nld-bg-green-500 {
  background-color : #99B16D;
}
.nld-border-green-500 {
  border-color : #99B16D;
}
.nld-text-green-600 {
  color : #869E59;
}
.nld-bg-green-600 {
  background-color : #869E59;
}

/* Yellow */
.nld-text-yellow-500 {
  color : #DEC170;
}
.nld-bg-yellow-500 {
  background-color : #DEC170;
}
.nld-text-yellow-600 {
  color : #D8B961;
}
.nld-bg-yellow-600 {
  background-color : #D8B961;
}

/* Brown */
.nld-text-brown-50 {
  color : #EBDFD8;
}
.nld-bg-brown-50 {
  background-color : #EBDFD8;
}
.nld-text-brown-500 {
  color : #76533C;
}
.nld-bg-brown-500 {
  background-color : #76533C;
}
.nld-border-brown-500 {
  border-color : #76533C;
}

/* Grey */
.nld-text-grey-50 {
  color : #EFEFEF;
}
.nld-bg-grey-50 {
  background-color : #EFEFEF;
}
.nld-text-grey-100 {
  color : #DCDEDF;
}
.nld-bg-grey-100 {
  background-color : #DCDEDF;
}
.nld-text-grey-200 {
  color : #ABBBC5;
}
.nld-bg-grey-200 {
  background-color : #ABBBC5;
}
.nld-text-grey-300 {
  color : #5E6569;
}
.nld-bg-grey-300 {
  background-color : #5E6569;
}
.nld-text-grey-400 {
  color : #4E5458;
}
.nld-bg-grey-400 {
  background-color : #4E5458;
}
.nld-text-grey-500 {
  color : #23282B;
}
.nld-bg-grey-500 {
  background-color : #23282B;
}
.nld-text-grey-700 {
  color : #0F1C23;
}
.nld-bg-grey-700 {
  background-color : #0F1C23;
}

/* White */
.nld-text-white-20 {
  color : rgba(249, 248, 248, 0.2);
}
.nld-bg-white-20 {
  background-color : rgba(249, 248, 248, 0.2);
}
.nld-text-white-100 {
  color : #F9F8F8;
}
.nld-bg-white-100 {
  background-color : #F9F8F8;
}

/* Accents */
.nld-text-grey-200-muted {
  color: #ABBBC5;
}

/* Borders */
.nld-border-light {
  border-color : rgba(249, 248, 248, 0.2);
}

/* General styles */

/* Necessary styles for HTML */
.front-page-modal p {
  @apply mt-2.5;
}
.nld-disclaimer p {
  @apply mt-2.5;
}

/* On static pages where we are setting HTML directly */
.static-page h1 {
  @apply nld-font-jost;
  @apply nld-font-h1;
  @apply font-semibold;
  @apply mt-5;
}
.static-page h2 {
  @apply nld-font-jost;
  @apply nld-font-h2;
  @apply font-semibold;
  @apply mt-8;
}
.static-page h3 {
  @apply nld-font-jost;
  @apply nld-font-h3;
  @apply font-semibold;
  @apply mt-5;
}
.static-page p {
  @apply nld-text-md;
  @apply nld-font-noto;
  @apply mt-4;
}
.static-page ul {
  @apply mt-4;
  @apply ml-6;
  @apply list-disc;
  @apply list-outside;
}
.static-page ul li {
  @apply mt-1.5;
  @apply nld-text-md;
  @apply nld-font-noto;
}
.static-page a img {
  @apply pt-2.5;
}
.static-page img {
  @apply mt-2.5;
}
.static-page img:first-child {
  @apply -mt-4;
  /* @apply -ml-4; */
  @apply -mr-8;
}
.static-page hr {
  @apply mt-4;
}
.static-page a {
  @apply nld-text-teal-500;
  @apply font-semibold;
}

/* on HTML sections on maps */
.sources-text h5 {
  @apply text-base;
  @apply font-bold;
  @apply mt-5;
}
.sources-text p {
  @apply mt-4;
}
.sources-text a {
  @apply font-semibold;
  @apply nld-text-teal-500;
  @apply flex;
  @apply items-center;
}
.sources-text a::after {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2219%22%20viewBox%3D%220%200%2018%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.25%203.11719C8.66421%203.11719%209%203.45297%209%203.86719C9%204.2814%208.66421%204.61719%208.25%204.61719H3.75C3.55109%204.61719%203.36038%204.69626%203.21973%204.83691C3.07907%204.97757%203%205.16827%203%205.36719V14.3672C3%2014.5661%203.07907%2014.7568%203.21973%2014.8975C3.36038%2015.0381%203.55109%2015.1172%203.75%2015.1172H12.75C12.9489%2015.1172%2013.1396%2015.0381%2013.2803%2014.8975C13.4209%2014.7568%2013.5%2014.5661%2013.5%2014.3672V9.86719C13.5%209.45297%2013.8358%209.11719%2014.25%209.11719C14.6642%209.11719%2015%209.45297%2015%209.86719V14.3672C15%2014.9639%2014.7628%2015.5361%2014.3408%2015.958C13.9189%2016.38%2013.3467%2016.6172%2012.75%2016.6172H3.75C3.15326%2016.6172%202.58114%2016.38%202.15918%2015.958C1.73722%2015.5361%201.5%2014.9639%201.5%2014.3672V5.36719C1.5%204.77045%201.73722%204.19832%202.15918%203.77637C2.58114%203.35441%203.15326%203.11719%203.75%203.11719H8.25ZM15.75%201.61719C15.795%201.61719%2015.839%201.62131%2015.8818%201.62891C15.8874%201.62989%2015.8929%201.63073%2015.8984%201.63184C15.9118%201.63452%2015.9244%201.64017%2015.9375%201.64355C15.9707%201.65213%2016.0041%201.66062%2016.0361%201.67383C16.0653%201.68587%2016.092%201.7023%2016.1191%201.71777C16.1763%201.75029%2016.2315%201.78819%2016.2803%201.83691C16.3287%201.8853%2016.366%201.94039%2016.3984%201.99707C16.414%202.02422%2016.4303%202.05094%2016.4424%202.08008C16.4631%202.13008%2016.4779%202.18178%2016.4873%202.23438C16.495%202.27754%2016.5%202.32181%2016.5%202.36719V6.86719C16.5%207.2814%2016.1642%207.61719%2015.75%207.61719C15.3358%207.61719%2015%207.2814%2015%206.86719V4.17773L9.53027%209.64746C9.23738%209.94033%208.76261%209.94035%208.46973%209.64746C8.17685%209.35457%208.17686%208.87981%208.46973%208.58691L13.9395%203.11719H11.25C10.8358%203.11719%2010.5%202.7814%2010.5%202.36719C10.5%201.95297%2010.8358%201.61719%2011.25%201.61719H15.75Z%22%20fill%3D%22%2329646F%22%2F%3E%3C%2Fsvg%3E");
  @apply ml-2.5;
  width: 18px;
  height: 19px;
}
.sources-text ul {
  @apply mt-4;
  @apply ml-6;
  @apply list-disc;
  @apply list-outside;
}

/* Geocoder */
#nld_geocoder .mapboxgl-ctrl-geocoder {
  @apply w-full;
  @apply mt-2.5;
  @apply shadow-none;
  @apply bg-none;
  @apply bg-transparent;
  @apply border;
  @apply rounded-full;
  @apply nld-border-teal-100;
  @apply nld-text-teal-100;
  @apply text-[16px]
}
#nld_geocoder .mapboxgl-ctrl-geocoder--input {
  @apply h-[30px];
  @apply md:h-[40px];
  @apply py-[3px];
  @apply md:py-[6px];
  @apply border;
  @apply rounded-full;
  @apply nld-border-teal-100;
  @apply nld-bg-blue-800-10;
  @apply nld-text-teal-100;
}
#nld_geocoder .mapboxgl-ctrl-geocoder--input::placeholder {
  @apply nld-text-teal-100;
}
#nld_geocoder .mapboxgl-ctrl-geocoder--icon-search {
  @apply top-[4px];
  @apply md:top-[11px];
}
#nld_geocoder .mapboxgl-ctrl-geocoder--icon-close {
  @apply mt-[0];
  @apply md:mt-[8px];
}
.nld-select .nld-select__control {
  @apply border;
  @apply rounded-full;
  @apply nld-border-teal-100;
  @apply nld-bg-blue-800-10;
  @apply nld-text-teal-100;
}
.nld-select .nld-select__placeholder {
  @apply nld-text-teal-100;
  @apply nld-text-sm;
}
.nld-select .nld-select__input-container {
  @apply nld-text-teal-100;
}
.nld-select .nld-select__single-value {
  @apply nld-text-teal-100;
}
.nld-select .nld-select__menu {
  @apply border;
  @apply nld-border-teal-100;
  @apply nld-bg-blue-800;
  @apply nld-text-teal-100;
  @apply nld-text-sm;
}
.nld-select .nld-select__option:hover, .nld-select .nld-select__option--is-focused {
  @apply nld-bg-grey-700;
}

/* FAQ page */
.faq-page h2 {
  @apply mt-12;
  @apply nld-font-h2;
  @apply font-semibold;
  @apply nld-font-jost;
  @apply text-center;
}
.faq-page h3 {
  @apply nld-text-grey-500;
  @apply font-semibold;
  @apply nld-font-h4;
  @apply nld-font-noto;
}