.nld_map_container {
  width: 100vw;
  height: 90vh;
  min-height: 500px;
  position: relative;
}
.main_map {
  background: radial-gradient(circle at center, #efefef, #333333);
  height: 100%;
  width: 100%;
}
/* Selector control */
.nld_selector_control_container {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  margin: 10px;
  width: 300px;
}
.nld_search_control {
  width: 100%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  background: #fff;
  border-radius: 4px;
  padding: 10px;
}
.nld_switch_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  color: #333;
}
.hr {
  margin-top: 5px;
  border-color: #eee;
}
.info_text {
  font-size: 12px;
  color: #333;
  margin-top: 10px;
}
.nld_geocoder {
  margin: 0;
}
.nld_select_container {
  margin-top: 10px;
}
.nld_results_container {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}
.results_text {
  font-size: 13px;
  color: #333;
  margin-bottom: 5px;
}
.results_list {
  list-style-type : none;
}
.results_checkbox {
  margin-right: 5px;
}
/* Toggle control */
.nld_toggles_control_container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 30px;
  display: flex;
}
.nld_toggles_button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #677788;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: .0625rem solid transparent;
  background-color: #1e325b;
  padding: .5rem 1rem;
  font-size: .875rem;
  border-radius: .3125rem;
  color: #FFF;
  margin-right: 10px;
}
.nld_toggles_button:hover {
  background-color: #1e325bb3;
}
